# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Files\Python_Django\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
